services:
  frontend:
     build:
      context: ./frontend 
     container_name: frontend
     volumes:
       - ./frontend:/app
     ports:
       - "5173:5173"   
     command: sh -c "npm install && npm run dev -- --host"

  backend: 
    build:
      context: ./backend 
    container_name: backend
    depends_on:
      - postgres
    volumes:
      - ./backend:/app  
    expose:
      - "9000"
    environment:
      DATABASE_URL: "postgresql://myuser:mypassword@postgres:5432/mydb?serverVersion=18.1&charset=utf8"
    command: sh -c "composer install && php-fpm" 

  nginx:
    image: nginx
    container_name: nginx
    depends_on: 
      - backend
      - frontend
    ports:
      - "8080:80"
    volumes:
      - ./backend:/app/backend
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf 

  postgres:
    image: postgres:18.1
    container_name: postgres
    environment:
      POSTGRES_DB: mydb
      POSTGRES_USER: myuser
      POSTGRES_PASSWORD: mypassword
    ports:
      - "5432:5432"    